.banner {
    display: table;
    width: 100%;
    background-image: url("../images/sunset.jpg");
    background-size: cover;
    clear: both;
  }

  .bodyLogo {
      height: 220px;
  }

  .logoSpace {
      text-align: center;
  }