.banner {
    display: table;
    width: 100%;
    background-image: url("../images/grandCanyon1.jpeg");
    background-size: cover;
    clear: both;
  }

  #message {
      height: 100px
  }

  .bodyLogo {
      height: 220px;
  }

  .logoSpace {
      text-align: center;
  }