@media screen and (max-width: 767px) {
    #youtube {
        margin-bottom: 12px;
    }
}

.banner {
    display: table;
    width: 100%;
    background-image: url("../images/cavern.jpeg");
    background-size: cover;
    clear: both;
  }

  #youtube {
      background-color: #FF0000;
  }