/* .jumbotron {
    width: 1066px;
    height: 600px;
    background-image: url("../images/grandCanyon.jpeg");
    background-size: cover;
} */
@media screen and (max-width: 810px) and (min-width: 620px) {
  /*width of nav bar to be 100%*/
  .navbar-brand {
    width: 100%;
    text-align: center;
    margin-right: 0px !important;
  }

  .navbar-nav {
    margin: 0 auto !important;
  }

  .navbar {
    padding: 0 !important;

  }
}

.logo {
  background-color: #f8f9fa;
  height: 80px !important;
}

.nav-link {
  margin: 0 5px !important;
}

body {
    background-color: #dbdbdb;
  }

.navbar {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  padding-left: 0px !important;
  background-color: #999999;
  height: 100px;
}

.navbar-brand {
  padding-left: 30px;
  background-color: #f8f9fa;
  margin-bottom: 0px;
  font-size: 2.0rem;
}

.logo {
  height: 30px;
}

.navbar-nav {
  padding-top: 13px;
  padding-bottom: 13px;
}

.titleText {
    background-color: #42abdb;
    padding: 10px;
}

.titleText h2 {
  font-size: 2.25rem;
  font-weight: bold;
}

.lead {
  font-size: 1.5rem;
  font-style: italic;
}

.row {
  margin-top: 10px;
}

.col-md-12 h2 {
  margin-bottom: 15px;
}

footer {
  width: 100%;
  padding: 10px 20px;
  background-color: #cccccc;
  border-top: 8px solid #42abdb;
  margin-top: 15px;
}

footer ul {
  list-style: none;
}

.footerLogo {
  height: 190px
}

footer a {
  color: #333333
}