/* .jumbotron {
    width: 1066px;
    height: 600px;
    background-image: url("../images/grandCanyon.jpeg");
    background-size: cover;
} */
@media screen and (max-width: 810px) and (min-width: 620px) {
  /*width of nav bar to be 100%*/
  .navbar-brand {
    width: 100%;
    text-align: center;
    margin-right: 0px !important;
  }

  .navbar-nav {
    margin: 0 auto !important;
  }

  .navbar {
    padding: 0 !important;
  }
}

.nav-link {
  margin: 0 5px !important;
}

body {
    background-color: #dbdbdb;
  }

.navbar {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  padding-left: 0px !important;
  background-color: #999999;
}

.navbar-brand {
  padding: 18px 16px;
  background-color: #42abdb;
  margin-bottom: 0px;
  font-size: 2.0rem;
}

.navbar-nav {
  padding-top: 13px;
  padding-bottom: 13px;
}

.titleText {
    background-color: #42abdb;
    padding: 10px;
}

.lead {
  font-size: 1.5rem;
}

footer {
  width: 100%;
  padding: 10px 20px;
  background-color: #42abdb;
  border-top: 8px solid #999999;
}

footer ul {
  list-style: none;
}

footer a {
  color: #333333
}